<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{subject}}</title>
    <style></style>
  </head>
  <body>
    <div>
      <p>Hi {{first_name}},</p>
      <p>
        Thanks for creating an account with us. Please verify your email address
        with the following verification code.
      </p>
      <span>Verification Code: {{code}}</span>
      <p>Good luck! Hope it works.</p>
    </div>
  </body>
</html>
